<div class="ui stackable grid">
    <div class="row">
        <div class="center aligned column">
            <div class="ui header">
                Version 2.0
            </div>
        </div>
    </div>
    <div class="row">
        <div class="five wide column">
            <div class="ui center aligned fluid segment">
                <h3 class="ui header">
                    Badges Generated
                </h3>
                <div class="ui small statistic">
                    <div class="label">
                        Created
                    </div>
                    <div class="value">
                        <div class="ui teal label">
                            {{model.allBadge.cnt}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui fluid center aligned segment">
                <h3 class="ui header">
                    No. of Sent Mails
                </h3>
                <table class="ui celled table">
                    <tbody>
                        <tr>
                            <td> In last 24 hours</td>
                            <td class="right aligned">
                                {{model.mails.lastDayCount}}
                            </td>
                        </tr>
                        <tr>
                            <td>In last 3 days</td>
                            <td class="right aligned">
                                {{model.mails.lastThreeDays}}
                            </td>
                        </tr>
                        <tr>
                            <td> In last 7 days </td>
                            <td class="right aligned">
                                {{model.mails.lastSevenDays}}
                            </td>
                        </tr>
                        <tr>
                            <td> In last 1 month </td>
                            <td class="right aligned">
                                {{model.mails.lastMonth}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui center aligned fluid segment">
                <h3 class="ui header">
                    System Roles
                </h3>
                <table class="ui celled table">
                    <tbody>
                        <tr>
                            <td> No. of Super Admins</td>
                            <td class="right aligned">{{model.users.superAdmin}}</td>
                        </tr>
                        <tr>
                            <td> No. of Registered Users</td>
                            <td class="right aligned">{{model.users.registered}}</td>
                        </tr>
                        <tr>
                            <td> No. of Total Users</td>
                            <td class="right aligned">{{model.users.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
