{{#if model.length}}
    <div class="ui secondary pointing menu">
      <a class="active item">
        My Badges
      </a>
    </div>
    <div class="ui segment">
      <div class="ui link cards">
        {{#each model as |badge|}}
          <div class="card">
            <div class="image">
              <img src="{{badge.image_link}}">
            </div>
            <div class="content">
              <div class="header">{{badge.badge_name}}</div>
              <div class="description">
                Badge Size: {{badge.badge_size}}
              </div>
              <div class="description">
                Text Color: {{badge.text_color}}
              </div>
              <div class="description">
                Data: {{badge.csv}}
              </div>
            </div>
            <div class="extra content">
              <div class="ui bottom attached basic orange button">
                <i class="download icon"></i>
                <a href="{{badge.download_link}}">
                  Download Badge
                </a>
              </div>
            </div>
          </div>
        {{/each}}
        <div class="card">
          <a class="" href="/create-badges">
            <img src="/images/add_more.png" style="margin-top: 70px">
          </a>
        </div>
        </div>
      </div>
      <div class="ui horizontal divider"></div>
      <div class="ui left floated pagination menu">
          <a class="icon item" {{action 'prevPage'}}>
              <i class="left chevron icon"></i>
          </a>
          <a class="icon item" {{action 'nextPage'}}>
              <i class="right chevron icon"></i>
          </a>
      </div>
{{else}}
  <h2>Looks like you've not generated any badges yet!</h2>
  <h3>Click <a href="{{href-to 'create-badges'}}">here</a> to generate some badges!</h3>
{{/if}}
