{{#if model.length}}
    <div class="ui secondary pointing menu">
      <a class="active item">
        My Badges
      </a>
    </div>
    <div class="ui segment">
      {{#each model as |badge|}}
        <div class="ui basic orange card">
          <div class="content">
            <div class="header">
              Badge
            </div>
          </div>
          <div class="content">
            <h4 class="ui header">
              Badge Details:
            </h4>
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    Image : {{badge.image}}
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    CSV : {{badge.csv}}
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    Badge Size : {{badge.badge_size}}
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary">
                    Text Color : {{badge.text_color}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui bottom attached basic orange button">
            <i class="download icon"></i>
            <a href="{{badge.download_link}}">
              Download Badge
            </a>
          </div>
        </div>
      {{/each}}
      <div class="ui horizontal divider"></div>
      <div class="ui grid">
        <div class="row">
          <div class="column">
              <div onclick={{action 'prevPage'}}>
                  <i class="angle left icon"></i>
              </div>
          </div>
          <div class="column">
              <div onclick={{action 'nextPage'}}>
                  <i class="angle right icon"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
{{else}}
  <h2>Looks like you've not generated any badges yet!</h2>
  <h3>Click <a href="{{href-to 'create-badges'}}">here</a> to generate some badges!</h3>
{{/if}}
