<div class="ui grid">
  <div class="four wide column">
    <div class="ui small segment">
        <div class="ui small circular image profile-image">
            <img onclick={{action "updateProfileImage"}} src="{{user.photoURL}}">
            <input style="display: none;" id="profileImageSelector" type="file" onchange={{action "profileImageSelected"}}>
            <div class="profile-change"><b>Change</b></div>
        </div>
    </div>
      <div class="ui vertical attached tabular menu">
          <div class="active item" data-tab="account">
            Account
            <i class="ui angle right icon"></i>
          </div>
          <div class="item" data-tab="password">
            Password
            <i class="ui angle right icon"></i>
          </div>
      </div>
  </div>
  <div class="twelve wide column">
    <div class="ui active attached tab segment" data-tab="account">
      {{user-component/user-account session=session user=user sendUserName=(action 'updateUserName')}}
    </div>
    <div class="ui horizontal divider"></div>
    <div class="ui attached tab segment" data-tab="password">
      {{user-component/user-password session=session user=user sendUserPassword=(action 'updateUserPassword')}}
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.tabular.menu .item').tab();
</script>
