<div class="ui basic segment">
    <div class="bgImg ui raised segment" style="padding:0">
        <div class="preview-top component"
            style="background-size: cover;
            background-repeat: no-repeat;
            height: {{if previewHeight '105' '110'}}px;
            color: #{{logoFontColor}};
            font-size: 60px;
            text-align: center;
            line-height: {{if previewHeight '105' '120'}}px;
            background-color: #{{logoBackColor}};
            background-image: {{if custLogoImage 'url('}}{{if custLogoImage logoImageData}}{{if custLogoImage ');'}})">
            {{#unless custLogoImage}}
                {{logo_text}}
            {{/unless}}
        </div>
        <div
            class="preview-bottom component"
            style="color: #{{defColor}};
            background-size: cover;
            background-repeat: no-repeat;
            height: {{if previewHeight '370' '390'}}px;
            background-color: #{{backColor}};
            background-image: {{if defImage "url('/images/badge_backgrounds/"}}{{if defImage defImageName}}{{if defImage fingerPrint}}{{if defImage ".png');"}}
                {{if custImage 'url('}}{{if custImage backImg}}{{if custImage ');'}}">
            <div class="preview content" style="padding-top: {{if previewHeight '45' '60'}}px">
                <p
                style="
                font-size : {{rel font_fn}}px;
                font-family : {{defFont}};
                color: #{{fontcol_fn}}">
                {{fn}}
                </p>
                <p
                style="
                font-size : {{rel font_ln}}px;
                font-family : {{defFont}};
                color: #{{fontcol_ln}}">
                {{ln}}
                </p>
                <p
                style="
                font-size : {{rel font_desg}}px;
                font-family : {{defFont}};
                color: #{{fontcol_desg}}">
                {{desg}}
                </p>
                <p
                style="
                font-size : {{rel font_org}}px;
                font-family : {{defFont}};
                color: #{{fontcol_org}}">
                {{org}}
                </p>
                <p
                style="
                font-size : {{rel font_sh}}px;
                font-family : {{defFont}};
                color: #{{fontcol_sh}}">
                {{sh}}
                </p>
            </div>
        </div>
    </div>
</div>