<div class="ui clearing segment">
    <div class="ui form width-container">
        <p>
            <b>Select from one of the background sources {{if (eq ticketType '') '' 'for '}}{{if (eq ticketType '') '' ticketType}}{{if (eq ticketType '') '' ' tickets'}}</b>
            <a class="ui right floated icon orange basic button" data-tooltip="Best Suitable Image -> Size(width x height): 749 X 1049px & Resolution: 300 DPI"
                data-position="right center">
                <i class="info icon"></i>
            </a>
        </p>

        <div class="ui radio checkbox">
            <input type="radio" name="tab{{idx}}" value="igotnone" onclick={{action "CustomImgClicked"}}/>
            <label>Upload a Custom Image</label>
        </div>
        <div class="content" id="custimg{{idx}}" style="display:none">
            <div class="center aligned">
                {{ background-component/image-component imageData=imageData mutateCustomImg=(action 'mutCustomImg') idx=idx}}
            </div>
        </div>
        <br>
        <div class="ui radio checkbox">
            <input type="radio" name="tab{{idx}}" value="igotnone" onclick={{action "CustomBgClicked"}} />
            <label>Select from default backgrounds</label>
        </div>
        <br>
        <div class="content" id="custbg{{idx}}" style="display: none">
            <div class="center aligned">
                {{ background-component/def-image-component defImages=defImages sendDefImage=(action 'mutBackground') }}
            </div>
        </div>


        <div class="ui radio checkbox">
            <input type="radio" name="tab{{idx}}" value="igotnone" onclick={{action "CustomColClicked"}} />
            <label>Select from a custom color</label>
        </div>
        <div class="content" id="custcol{{idx}}" style="display: none">
            <div class="center aligned">
                {{ background-component/color-bg-component sendDefColor=(action 'mutDefColor') backColor=backColor }}
            </div>
        </div>
    </div>
</div>
