<div class="pusher">
    {{nav-bar session=session authToken=authToken logOut=(action 'logOut')}}
    {{#if (eq currentRouteName 'index')}}
      {{welcome-header session=session}}
      {{pricing-component}}
      {{badge-design}}

    {{/if}}
    <div class="ui fluid container main-container">
        {{outlet}}
    </div>
    {{footer-main socialMedia=model.socialMedia}}
</div>
{{notification-container position="top"}}
