<div class="pusher">
    {{nav-bar}}
    {{#if (eq currentRouteName 'index')}}
      {{welcome-header}}
    {{/if}}
    <div class="ui container main-container">
        {{outlet}}
        {{#data-component}}
            {{ data-component/csv-component sendCSV=(action 'mutateCSV') }}
            {{ data-component/text-component sendText=(action 'mutateText') }}
            <br>
        {{/data-component}}
    </div>
    {{footer-main}}
</div>
