<div class="pusher">
    {{nav-bar session=session logOut=(action 'logOut')}}
    {{#if (eq currentRouteName 'index')}}
      {{welcome-header session=session}}
      {{pricing-component}}
    {{/if}}
    <div class="ui container main-container">
        {{outlet}}
    </div>
    {{footer-main}}
</div>
{{ember-notify messageStyle='semantic-ui' classPrefix='notification-container'}}
