<div class="container board">
  <div class="row">
    <!-- TODO: Replace action with url for backend -->
    <form id="form1" action="" method="post" enctype="multipart/form-data" onsubmit="return validate()">
      <div class="row">
        <div class="container board">
          <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <label>
              Choose your Data Source&emsp;
              <a id="icon" href="/#/guide" target="_blank"><i class="fa fa-info-circle"></i></a>
            </label>
            <ul style="list-style-type:none">
              <li><input name="datasource" type="radio" id="csvupload">&nbsp;Add CSV file</li>
              <section id="csvupload-input" style="display:none">
                <div class="form-group">
                  <label for="inputFile">Add CSV file containing fields Name,Organization and Handle</label>
                  <input type="file" id="inputFile" name="file" accept=".csv">
                </div>
                <div id="error" class="csvfile-error">Please upload a CSV file!</div>
              </section>
              <li>
              <li><input name="datasource" type="radio" id="manualdata">&nbsp;Enter Data Manually</li>
              <section id="text-input" style="display:none">
                <div class="form-group">
                  <label for="textArea">Enter One Name per Line </label>
                  <textarea class="form-control" type="text"
                            placeholder="Eg. Hong Phuc,Dang,Organiser,@hpdang,FOSSASIA " id="textArea"
                            name="csv"></textarea>
                </div>
                <div id="error" class="csv-error">Please fill data in proper format
                  <div class="text-center guide">
                    <a href="/#/guide" target="_blank">User Input Guide</a>
                  </div>
                </div>
              </section>
              </li>
            </ul>
            <div id="error" class="no-data-error">Please upload a csv file or enter data!</div>
            <label>Choose your Badge Background</label>
            <ul style="list-style-type:none">
              <li><input type="radio" name="backsource" id="defimage">&nbsp;Use Background Template</li>
              <section id="deimage-input" style="display:none">
                <label for="inputFile"></label>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <span class="placeholder">Select a background</span>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li class="menu-options" data-item="black_futuristic.png">
                      <img src="images/badge_backgrounds/black_futuristic.png">black_futuristic.png
                    </li>
                    <li class="menu-options" data-item="yellow_futuristic.png">
                      <img src="images/badge_backgrounds/yellow_futuristic.png">yellow_futuristic.png
                    </li>
                    <li class="menu-options" data-item="blue_futuristic.png">
                      <img src="images/badge_backgrounds/blue_futuristic.png">blue_futuristic.png
                    </li>
                    <li class="menu-options" data-item="green_futuristic.png">
                      <img src="images/badge_backgrounds/green_futuristic.png">green_futuristic.png
                    </li>
                    <li class="menu-options" data-item="cyan_futuristic.png">
                      <img src="images/badge_backgrounds/cyan_futuristic.png">cyan_futuristic.png
                    </li>
                    <li class="menu-options" data-item="red_futuristic.png">
                      <img src="images/badge_backgrounds/red_futuristic.png">red_futuristic.png
                    </li>
                    <li class="menu-options" data-item="gray_futuristic.png">
                      <img src="images/badge_backgrounds/gray_futuristic.png">gray_futuristic.png
                    </li>
                  </ul>
                </div>
              </section>
              <li>
                <input type="radio" name="backsource" id="pngupload">&nbsp;Add Background Image
                <i class="fa fa-info-circle"
                   title="Best Suitable Image &#013; 1. Size(width x height) : 749 X 1049 Pixels &#013; 2. Resolution : 300 DPI"></i>
              </li>
              <section id="upimage-input" style="display:none">
                <label for="imageFile"></label>
                <input type="file" id="imageFile" name="image" accept="image/*">
              </section>
              <li>
              <li><input type="radio" name="backsource" id="defback">&nbsp;Choose Background Color</li>
              <section id="background-input" style="display:none">
                <label for="inputFile"></label>
                <div>
                  <input type="text" id="picker" class="form-control" name="bg_color">
                  <input type="hidden" name="img-default" value="">
                </div>
              </section>
              </li>
            </ul>
            <div id="error" class="no-image-error">Please select a default background or upload an image!</div>
            <label>Customize text</label>
            <ul style="list-style-type:none">
              <li><input type="checkbox" name="fontsource" id="custfont">&nbsp;Use Custom font</li>
              <section id="custom-font" style="display:none">
                <label for="inputFile">Select from following fonts</label>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <span class="placeholder2">Select a font</span>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li class="font-options" data-item="monospace" style="font-family:'monospace'">monospace</li>
                    <li class="font-options" data-item="sans-serif" style="font-family:'sans-serif'">sans-serif</li>
                    <li class="font-options" data-item="sans" style="font-family:'sans'">sans</li>
                    <li class="font-options" data-item="Courier 10 Pitch" style="font-family:'Courier 10 Pitch'">Courier
                      10 Pitch
                    </li>
                  </ul>
                </div>
              </section>
              <input type="hidden" name="custfont" value="">
              <li>
              <li>
                <input type="checkbox" name="fontsource" id="text-color"> Choose Text Color
              </li>
              <section id="text-fill-input" style="display:none">
                <label for="inputFile"></label>
                <div>
                  <input type="text" id="text-picker" class="form-control" name="txt_color">
                </div>
              </section>
              </li>
            </ul>
            <button type="submit" disabled="disabled" class="btn btn-block submit-btn">Generate Badges</button>
            <button type="button" disabled="disabled" class="btn btn-block btn-warning" id="preview-btn">Preview
            </button>
            <div id="preview" class="preview-image hidden">
              <li class="preview-image-li" id="preview-li-1"></li>
              <li class="preview-image-li" id="preview-li-2"></li>
              <li class="preview-image-li" id="preview-li-3"></li>
              <li class="preview-image-li" id="preview-li-4"></li>
              <li class="preview-image-li" id="preview-li-5"></li>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div id="success" style="visibility: hidden;">
      <div class="flash-success">Your badges have been created successfully.</div>
      <div class="text-center">
        <a id="badge-link" href="http://badgeyay-api.herokuapp.com/static/badges/{{msg}}-badges.pdf"
           class="btn btn-success"
           download="{{msg}}-badges.pdf">Download as
          PDF</a>
      </div>
    </div>
  </div>
</div>

<div id="overlay-loading">
	<div id="overlay-text">Generating badges ...</div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{rootURL}}js/jquery.minicolors.min.js"></script>
<script src="{{rootURL}}js/script.js"></script>
<script src="{{rootURL}}js/form.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#form1').submit(function (event) {
      event.preventDefault();
      $.ajaxSetup({
        headers: {"Access-Control-Allow-Origin": "*"}
      });
      $.ajax({
        url: "http://badgeyay-api.herokuapp.com/api/v1.0/generate_badges",
        data: $(this).serialize(),
        type: 'POST',
        success: function (data) {
          if (data["response"][0]["type"] === "success") {
            $('#success').css('visibility', 'visible');
            overlayOff();
            let link = data["response"][0]["download_link"];
            link = link.replace("backend/app/", "http://badgeyay-api.herokuapp.com/");
            $('#badge-link').attr("href", link);
            link = link.replace("static/badges/", "");
            $('#badge-link').attr("download", link);
          }
        },
        error: function (error) {
          console.log(error);
        }
      })
    });
  })
</script>
