<div class='ui secondary pointing menu'>
    <a class='active item'>
        Sitemap
    </a>
</div>
<div class='ui segment'>
 <div class='ui grid'>
  <div class='three column row'>
    <div class='column'>
        <h4>{{init-cap 'general information'}}</h4>
        {{#link-to 'index' class='links'}}
            {{init-cap 'home'}}
        {{/link-to}}
    </div>
    <div class='column'>
        <h4>{{init-cap 'badgeyay'}}</h4>
        <a href='https://github.com/fossasia/badgeyay' class='links'>{{init-cap 'github repository'}}</a><br>
        <a href='https://blog.fossasia.org' class='links'>{{init-cap 'blog'}}</a>
    </div>
        <div class='column'>
            <h4>{{init-cap 'account management'}}</h4>
            {{#if session.isAuthenticated}}
                {{#link-to 'settings' class='links'}}
                    {{init-cap 'view profile'}}
                {{/link-to}}
                <br>
                {{#link-to 'forgotpwd' class='links'}}
                    {{init-cap 'forgot password'}}
                {{/link-to}}
            {{else}}
                {{#link-to 'signup' class='links'}}
                    {{init-cap 'register'}}
                {{/link-to}}
                <br>
                {{#link-to 'login' class='links'}}
                    {{init-cap 'login'}}
                {{/link-to}}
                <br>
                {{#link-to 'forgotpwd' class='links'}}
                    {{init-cap 'forgot password'}}
                {{/link-to}}
            <br>
            {{/if}}
        </div>
    </div>
    <div class='ui section divider'>
        
    </div>
    <div class='three column row'>
        <div class='column'>
            <h4>{{init-cap 'generating badges'}}</h4>
            {{#if session.isAuthenticated}}
                {{#link-to 'create-badges' class='links'}}
                    {{init-cap 'creating badges'}}
                {{/link-to}}
                <br>
            {{else}}
                {{#link-to 'login' class='links'}}
                    {{init-cap 'creating badges'}}
                {{/link-to}}
                <br>
            {{/if}}
            {{#link-to 'user-guide' class='links'}}
                {{init-cap 'user guide'}}
            {{/link-to}}
        </div>
        <div class='column'>
            <h4>{{init-cap 'managing badges'}}</h4>
            {{#if session.isAuthenticated}}
                {{#link-to 'my-badges' class='links'}}
                    {{init-cap 'listing badges'}}
                {{/link-to}}
            {{else}}
                {{#link-to 'login' class='links'}}
                    {{init-cap 'listing badges'}}
                {{/link-to}}
            {{/if}}
        </div>
    </div>
</div>
</div>