<div class="ui basic segment less padding">
  <div class="ui {{if isLoading 'active'}} inverted dimmer">
    <div class="ui loader"></div>
  </div>
  <div>
    <h3 class="ui left aligned header">
      {{'System Roles'}}
    </h3>
    <div class="ui divider"></div>
  </div>
  <div>
    <h3 class="ui left aligned header">
      {{'Admin Permissions'}}
    </h3>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>{{'Admin Role'}}</th>
        <th>{{'Actions'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.admins as |admin|}}
        <tr>
          <td>
              <i class="user icon"></i>{{admin.username}}
              <br>
              <i class="envelope outline icon"></i>{{admin.email}}
          </td>
          <td>
            <div class="ui horizontal compact basic buttons">
              {{#ui-popup content='Delete' class='ui icon button' click=(action 'deleteAdmin' admin.email)}}
                <i class="trash alternate outline icon"></i>
              {{/ui-popup}}
            </div>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td>
          <button class="ui green button" {{action 'openAddSystemRoleModal' 'Admin'}}>{{'Add new Role'}}</button>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>{{'Sales Role'}}</th>
        <th>{{'Actions'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.sales as |sale|}}
        <tr>
          <td>
              <i class="user icon"></i>{{sale.username}}
              <br>
              <i class="envelope outline icon"></i>{{sale.email}}
          </td>
          <td>
            <div class="ui horizontal compact basic buttons">
              {{#ui-popup content='Delete' class='ui icon button' click=(action 'deleteSaleRole' sale.email)}}
                <i class="trash alternate outline icon"></i>
              {{/ui-popup}}
            </div>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td>
          <button class="ui green button" {{action 'openAddSystemRoleModal' 'Sales'}}>{{'Add new Role'}}</button>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{{#if isAddSystemRoleModalOpen}}
    {{modals/add-system-role-modal
        userFounded=roleFounded
        state=state
        isOpen=isAddSystemRoleModalOpen
        enableAdmin=(action 'enableAdmin')
        enableSales=(action 'enableSales')
        checkEmail=(action 'checkEmail')}}
{{/if}}