{{#if selectedImage}}
  <div class="ui card">
    <div class="image">
      <img src="{{selectedImage}}">
    </div>
    <div class="ui bottom attached buttons">
      {{#if needsCropper}}
        <div class="ui teal button" {{action 'reCrop'}}>
          <i class="crop icon"></i>
          Re-crop
        </div>
      {{/if}}
      <div class="ui red button" {{action 'removeSelection'}}>
        <i class="trash icon"></i>
        Remove
      </div>
    </div>
  </div>
{{else}}
  {{input type='file' accept="image/png" id=inputIdGenerated class='styled input' name=name change=(action 'fileSelected')}}
{{/if}}
{{#if needsCropper}}
  {{modals/cropper-modal isOpen=cropperModalIsShown imgData=imgData onImageCrop=(action 'imageCropped')}}
{{/if}}
