<div class="field">
    <label>Select font size</label>
  <input type="range"
  class="max-width"
  oninput={{action (mut size)
  value="target.value"}}
  min={{min}}
  max={{max}}
  defFontSize={{size}}
  steps="1">
  <div>{{size}}</div>
</div>
