<table class="ui celled table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Mails Sent</th>
            <th>Badges Generated</th>
            <th>Users Created</th>
            <th>Users Deleted</th>
        </tr>
    </thead>
    <tbody>
        {{#each reports as |report|}}
            <tr>
                <td>{{sanitizeDate report.id}}</td>
                <td>{{report.mailSentCount}}</td>
                <td>{{report.badgeCount}}</td>
                <td>{{report.userCreationCount}}</td>
                <td>{{report.userDeletionCount}}</td>
            </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5">
                <div class="ui right floated pagination menu">
                    {{#if allow_prev}}
                        <a class="icon item" {{action 'prevPage'}}>
                            <i class="left chevron icon"></i>
                        </a>
                    {{/if}}

                    {{#if allow_next}}
                        <a class="icon item" {{action 'nextPage'}}>
                            <i class="right chevron icon"></i>
                        </a>
                    {{/if}}
                </div>
            </th>
        </tr>
    </tfoot>
</table>