<i class="black close icon"></i>
<div class="header">
  {{'Crop Image'}}
</div>
<div class="content" style="padding: 0; margin: 0;">
  <img src="{{imgData}}" style="width: 100%; height: 100%;" alt="Cropper preview">
</div>
<div class="actions">
  <button type="button" class="ui black button" {{action 'resetImage'}}>
    {{'Reset'}}
  </button>
  <button type="button" class="ui green right labeled icon button" {{action 'cropImage'}}>
    {{'Looks good'}}
    <i class="checkmark icon"></i>
  </button>
</div>
